<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express JS</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Express ES6 BoilerPlate</h1>
<li>{{name}}</li>
</body>
</html>